$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #007700;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7700;

$color-teriary-light: #2998ff;
$color-teriary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: white;

$color-red: red;
$color-red-dark-1: rgb(196, 0, 0);
$color-red-light-1: rgb(255, 45, 45);
$color-red-light-2: rgb(255, 62, 62);

$color-green: green;
$color-green-variant-1: #afd275;

$color-blue: blue;
$color-blue-dark-1: rgb(0, 0, 219);

$color-yellow: yellow;
$color-yellow-dark-1: rgb(221, 221, 0);
$color-yellow-dark-2: rgb(185, 185, 0);

$color-grape: #6f2da8;

$color-brown-variant-1: #7e685a;

$color-black: black;

//FONT
$default-font-size: 1.6rem;

//z-indexes
$z-index-navigation: 4000;
$z-index-cart: 5000;
$z-index-errors: 6000;
$z-index-checkout: 7000;
