.banner-container {
	width: 100%;
	position: relative;
}

.banner-img {
	width: 100%;
	height: auto;
}

.banner-text-1 {
	color: wheat !important;
	position: absolute;
	top: 40%;
	right: 5%;
	font-size: 44px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	animation-name: transInDown;
	animation-duration: 2000ms;
}
.banner-container b {
	color: black;
}

.banner-text-2 {
	position: absolute;
	margin-top: 50px;
	opacity: 0;
	top: 80%;
	right: 5%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	animation-name: transInUp;
	animation-duration: 1000ms;
	animation-delay: 200ms;
	animation-fill-mode: forwards;
}

@keyframes rotateIn {
	100% {
		transform: rotate(100, 100);
		opacity: 1;
	}
}

@keyframes transInDown {
	0% {
		top: 20%;
	}

	100% {
		top: 40%;
	}
}

@keyframes transInUp {
	0% {
		top: 80%;
	}

	100% {
		top: 45%;
		opacity: 1;
	}
}

@media screen and (max-width: 780px) {
	h3 {
		font-size: 34px !important;
	}
}
@media screen and (max-width: 480px) {
	h3 {
		font-size: 22px !important;
	}
}
