@import "../../sass/main";

.navigation {
	display: flex;
	padding: 0 5rem;
	width: 100%;
	background-color: #f8f9fa;
	font-size: 1rem;
	flex-direction: row;
	justify-content: flex-end;
	z-index: $z-index-navigation;

	@include respond(phone) {
		justify-content: center;
	}

	&__item {
		font-size: $default-font-size;
		color: $color-black;
		padding: 0 3rem;
		transition: 0.2s;

		&:hover {
			background-color: rgba($color-black, 0.1);
			transform: translateY(-3px);
		}
		&:active {
			background-color: rgba($color-black, 0.2);
			transform: translateY(0);
		}
	}

	&__fixed {
		position: fixed;
		top: 0;
		display: flex;
		padding: 0 5rem;
		width: 100%;
		background-color: #f8f9fa;
		font-size: 1rem;
		flex-direction: row;
		justify-content: flex-end;
		z-index: 1000;
		animation-name: moveInTop;
		animation-duration: 0.6s;
		animation-fill-mode: backwards;
		animation-timing-function: linear;

		&--hidden {
			position: fixed;
			top: 0;
			display: flex;
			padding: 0 5rem;
			width: 100%;
			background-color: #f8f9fa;
			font-size: 1rem;
			flex-direction: row;
			justify-content: flex-end;
			z-index: 1000;
			animation-name: moveOutTop;
			animation-duration: 0.6s;
			animation-fill-mode: forwards;
		}
	}
}
